@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000;
}


.main-container {
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Lato', sans-serif;
  }
  
  .header{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
  }
  
  .user-info-container {
    margin-top: 25px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
  }
  
  .logout-container {
    margin-top: 25px;
  }
  
  .logout-btn {
    font-family: 'Lato', sans-serif;
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
  }
  