.main-container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.header{
    text-align: center;
}

.input-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.link-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-text {
    color: red;
    font-size: small;
}

.helper-text {
    font-size: small;
}